body {
    background: rgb(112, 112, 112);
    color: #000;
    margin: 0px;
    align-items: center;
    display: flex;
    justify-content: center;
}

footer {
    padding: 0px;
    margin: 0px;
    font-size: 15px;
}

.mainbox{
    background-color: white;
    padding: 50px 50px 8px 50px;
    max-width: 1000px;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url(./images/bg.jpg);
}

.titultext{
    font-size: 30px;
    margin-right: 40px;
    width: auto;
    height: 150px;
    float: right;
    position: relative;
}

.myphoto {
    margin-top: 10px;
    margin-left: 50px;
    width: 210px;
    height: 210px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 0px 37px -10px rgb(0 0 0 / 80%);
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.grblock {
    margin-top: 27px;
    font-size: 18px;
}

.rslogo{
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 10px;
    height: 45px;
}

.gitlogo{
    margin-top: 0px;
    margin-left: 0px;
    height: 37px;
    float: right;
}
